.widget-subheading {
  color: #858a8e;
  font-size: 0.65rem;
}

.no-outline {
  outline: none;
  border: 0;
  border-radius: 0;
  box-shadow: none !important;
  outline: none !important;
}

.border-bottom-focus:focus {
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid grey;
}

.transparent {
  background-color: transparent;
  resize: none;
}

.dim-hover-focus {
  background-color: rgba(240, 240, 240, 0.4);
}

.dim-hover-focus:hover, .dim-hover-focus:focus {
  background-color: rgba(240, 240, 240, 0.65);
}

.colored-left-border {
  border-left: 0.2rem solid red;
}